input.ng-invalid.ng-touched {
    border: 1px solid red;
}

mat-card {
    width: 500px;
    margin: auto;
}

input {
    width: 300px;
    margin-bottom: 20px;
}

textarea {
    width: 300px;
    margin-bottom: 10px;
}